APP_CONTAINER_NAME=
DB_CONTAINER_NAME=

APP_NAME=
ENVIRONMENT=
DEBUG=
API_V1_PREFIX=
AUTO_CREATE_TABLES=

APP_PORT=
DB_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

STARLETTE_SESSION_MIDDLEWARE_SECRET_KEY=